body {
  background-color: #D9D4E5;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

.page {
  width: 850px;
  background-color: white;
  margin: 40px auto;
  padding: 50px;
  padding-top: 35px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

h1 {
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-size: 44px;
  color: #2C0D57;
  margin-top: 0;
  margin-bottom: 50px;
}

.vis-container {
  width: 100%;
}

.pure-g {
  margin-bottom: 40px;
}

.pure-u-1-2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.graph_title {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 10px;
  color: #4B0082;
}

.graph_para {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #4B3F72;
  text-align: justify;
  line-height: 1;
  margin-top: 8px;
  margin-bottom: 30px;
  max-width: 700px;
}

.para {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #4B3F72;
  text-align: justify;
  line-height: 1.1;
  margin-top: 16px;
}

.graph_with_para {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 20px;
}

.section_divider {
  background-color: #5B3A99;
  color: #F3ECFF;
  font-family: 'Poppins', sans-serif;
  font-size: 1.3rem;
  font-weight: 650;
  text-align: center;
  padding: 14px 0;
  margin: 40px 0;
  border-radius: 8px;
  letter-spacing: 0.5px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}